steps:
- script: npm i -g npm@$(npm_version)
  displayName: Use legacy npm version $(npm_version)
  condition: ne(variables['npm_version'], '')

- task: NodeTool@0
  inputs:
    versionSpec: '$(node_version)'
  displayName: Use Node $(node_version)

- script: npm install
  displayName: npm install

- script: istanbul cover _mocha --report lcovonly && istanbul-coveralls
  env:
    COVERALLS_REPO_TOKEN: $(COVERALLS_REPO_TOKEN_SECRET)
  displayName: Run coveralls
  condition: eq(variables['run_coveralls'], true)

- script: npm test
  displayName: Run tests
  condition: ne(variables['run_coveralls'], true)

- script: npm run azure-pipelines
  displayName: Write tests to xml

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test.xunit'
  condition: succeededOrFailed()
